/* footerStyles.css */

.footer {
    background-color: #f4f4f4;
    padding: 16px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.iconContainer {
    display: flex;
}

.icon {
    margin: 8px;
    border: 1px solid darkgrey; /* Add this line to create a black outline */
}

.centerText {
    flex: 1;
    text-align: center;
    margin: 0 16px;
}

.linkContainer {
    display: flex;
    margin-left: auto;
}

.footerLink {
    margin: 10px;
    text-decoration: none;
}

.link {
    margin: 8px;
}
