.footer {
  height: 42px;
  position: relative;
}

.footer .socials {
  height: 36px;
  position: absolute;
  top: 12px;

}

.footer .terms-privacy {
  height: 15px;
  left: 864px;
  position: absolute;
  top: 20px;

}

.footer .down-menu {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 15px;
  position: relative;
  width: 202px;
}


